---
import { UtensilsCrossed, ChefHat, Wine, Leaf, Carrot, Coffee } from "lucide-astro";
---

<div class="pointer-events-none absolute inset-0 overflow-visible z-0" aria-hidden="true">
  <UtensilsCrossed
    class="absolute top-[8%] left-[4%] w-28 h-28 text-amber-900/25 opacity-25 -rotate-12"
    stroke-width="1.5"
  />
  <ChefHat
    class="absolute top-[12%] right-[6%] w-32 h-32 text-amber-900/25 opacity-25 rotate-6"
    stroke-width="1.5"
  />
  <Wine
    class="absolute bottom-[12%] left-[8%] w-24 h-24 text-amber-900/25 opacity-25 rotate-12"
    stroke-width="1.5"
  />
  <Carrot
    class="absolute bottom-[15%] right-[5%] w-28 h-28 text-amber-900/25 opacity-25 -rotate-6"
    stroke-width="1.5"
  />
  <Leaf
    class="absolute top-[40%] left-[2%] w-20 h-20 text-amber-900/25 opacity-25 rotate-45"
    stroke-width="1.5"
  />
  <Coffee
    class="absolute top-[55%] right-[8%] w-24 h-24 text-amber-900/25 opacity-25 -rotate-15"
    stroke-width="1.5"
  />
</div>
